* {
  font-family: 'Times New Roman', Times, serif;
}

header {
  width: 100%;
  height: 500%;
}

header h1,
h2 {
  text-align: center;
  background-color: darkgoldenrod;
}

header div img {
  float: left;
  margin-left: auto;
}

body {
  background-color: beige;
}

main {
  text-align: center;
  border-color: darkgoldenrod;
  border-style: solid;
  width: auto;
  height: max-content;
  justify-content: space-around;
}

.footer {
  text-align: center;
  align-items: end;
  background-color: darkgoldenrod;
  width: 100%;
  height: 300%;
}

ul {
  font-style: oblique;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: beige
}

.grid {
  display: grid;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  grid-template-columns: repeat(3, 1fr);
  grid: auto rows 100px;
  column-gap: 10px;
  row-gap: 10px;
}

.galeria {
  display: flex;
  justify-content: space-around;
  align-items: center
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr)
  }
}

.menu {
  text-align: center;
}

.galeria {
  text-align: center;
}

body {
  font-size: 16px;
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .menu {
    text-align: center;
  }

  .galeria {
    text-align: center;
    width: auto
  }

  .grid {
    text-align: center;
    width: auto;
  }

  body {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 16px;
  }

  .menu {
    text-align: center;
  }

  .galeria {
    text-align: center;
    width: 90%
  }

  .grid {
    text-align: center;
    width: auto;
  }
}